<div class="container text-center">
  <div class="row">
    <div class="col">
      <h2>Twitter for Zombies</h2>
      <div class="btn-group" role="group">
        <%= button_to 'Sign Up', signup_path, method: :get, class: 'btn btn-secondary' %>
        <%= button_to 'Login', login_path, method: :get, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
